@import "../runo/runo.scss";

@mixin adelaTheme{
	@include runo;
	
	.headerLabel{
   		height: 115px;
    	font-size: 72px;
    	line-height: 115px;
    	text-align: center;
    	font-family: fantasy;
    	padding-top: 15px;
   	}
	
}
